body {
    font-family: sans-serif;
}

.container > div {
    border-radius: 5px;
    padding: 10px;
    background-color: rgb(207, 232, 220);
    border: 2px solid rgb(79, 185, 227);
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 200px;
    gap: 20px;
}

.contain {
    display: grid;
    font-family: sans-serif;
    grid-template-columns: 1fr 3fr;
    gap: 20px;
}

header, footer {
    border-radius: 5px;
    padding: 10px;
    background-color: rebeccapurple;
    color: whitesmoke;
    text-align: center;
}

aside {
    border-right: 1px solid rebeccapurple;
}

header {
    grid-column: 1/3;
    grid-row: 1;
}

main {
    grid-column: 2;
    grid-row: 2;
}

aside {
    grid-column: 1;
    grid-row: 2;
}

footer {
    grid-column: 1/3;
    grid-row: 3;
}